/*main.vue start*/
.main .el-tabs__header {
    border-bottom: 0 none !important;
}
.main .el-tabs__item {
    /* margin: 0 4.75%; */
    font-size: 18px;
    color: #C0CCD3;
    letter-spacing: 2px;
    line-height: 27px;
}
.main .el-tabs__item.is-active, .main .el-tabs__item:hover {
    color: #fff;
}
.main .el-tabs__active-bar {
    height: 1px;
    background: rgba(255,255,255,0.50);
}
.main .el-carousel__indicators {
    display: none;
}
.main .el-carousel__arrow {
    /* position: absolute;
    top: 50%; */
    width: 60px;
    height: 60px;
    background: yellow !important;
    /* margin-top: -30px;
    -webkit-appearance: none; */
}
/* .main .el-carousel__arrow i{
    display: none;
}
.main .el-carousel__arrow--left {
    background: url('../../assets/index-left.png') no-repeat center center/100% 100%;
}
.main .el-carousel__arrow--right {
    background: url('../../assets/index-right.png') no-repeat center center/100% 100%;
}
.main .el-carousel__item {
    display: none;
}
.main .el-carousel {
    position: absolute;
    left: -20%;
    top: 45px;
    width: 140%;
} */
/*main.vue end*/