body{
  background: #eee;
}
.bgcolor{background: #fff;border-radius:2px;}

/*背景颜色*/
.darkGrey_bg{
  background-color: #666666;
}
.lightGrey_bg{
  background-color: #999999;
}
.darkPurple_bg{
  background-color: #4F6BBF;
}
.lightPurple_bg{
  background-color: #7D96E0;
}
.yellow_bg{
  background-color: #FFCA57;
}
.blue_bg{
  background-color: #2E76E0;
}
/*浮动*/
.floatLeft{
  float: left;
}
.floatRight{
  float: right;
}
/*个人信息*/
.user-personal-info .ids .el-row .el-select .el-input {
  width: 100% !important;
}
.user-personal-info .first .el-input__inner {
  display: block !important;
  height: 100% !important;
  padding: 5px !important;
  line-height: 80%;
  font-size: 40px;
  text-align: center;
}
.user-personal-info .el-tooltip__popper.is-light {
  border: 1px solid #EBEBEB !important;
}
/* 初次登录添加股权信息页 弹窗样式 */
.dialog-wrap__large .el-dialog__body{padding:0px!important;}
.dialog-wrap__large .dialog-left{position: fixed;left:0;top:54px;bottom:0;width:110px;padding:20px 0 0 30px;background:#33457B;}
.dialog-wrap__large .dialog-right{background: #F7F7F7;padding:54px 30px 0 140px;}
.dialog-step-icon{display:inline-block;line-height:14px;width:8px;height:8px;border:2px solid #D0D1D2;border-radius: 50%;}
.dialog-step-titel{display:inline-block;margin-left:10px;font-size: 14px;color: #D5D5D5;letter-spacing: 1.2px;}
.dialog-step-wrap.isDone .dialog-step-icon{border-color:#52B0F6;background:#52B0F6;}
.dialog-step-wrap.isDone .dialog-step-titel{color:#52B0F6;}
.dialog-step-line{height:30px;border-left:1px solid #3A5092;margin-left:6px;}
.dialog-wrap__large .el-table th{background:#fff;}
.dialog-wrap__large .el-table__header-wrapper thead div, .el-table__footer-wrapper thead div{background:#fff;}
.dialog-wrap__large .el-dialog--large .el-form {width:730px;margin:0;}
.dialog-wrap__large .el-dialog--large{width:900px;}
.dialog-wrap__large .el-table th > .cell{padding-left:10px;padding-right:10px;}
/* 股权列表 树结构样式 */
.stock-tree-list .el-table__expanded-cell{padding: 0px;}
.stock-tree-list .el-table td > div{border: none;}
.round-wrap li{display:inline-block;margin-right:5px;padding:0 3px;height:16px;text-align:center;line-height:16px;background:#F1F1F3;border-radius:2px;font-size: 8px;color: #ADADAD;}
.round-wrap li.active{background:#8BD7FF;color:#FFFFFF;}

