/*main.vue start*/
#home {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    color: #fff;
    background: #F4F5F7;
}

.main .el-tabs__header {
    border-bottom: 0 none !important;
}

.main .el-tabs__item {
    /* margin: 0 4.75%; */
    width: 20%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #C0CCD3;
    letter-spacing: 2px;
    line-height: 27px;
}

.main .el-tabs__item.is-active,
.main .el-tabs__item:hover {
    color: #fff;
    font-weight: bold;
}

.main .el-tabs__active-bar {
    display: none;
}

.main .el-carousel__arrow {
    position: absolute;
    top: 60%;
    width: 60px;
    height: 60px;
}

.main .el-carousel__arrow i {
    display: none;
}

.main .el-carousel__arrow--right {
    right: -15%;
    background-image: url('../assets/index-right.png');
}

.main .el-carousel__arrow--left {
    left: -15%;
    background-image: url('../assets/index-left.png');
}

.main .el-carousel__arrow {
    -webkit-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
}

.main .el-carousel__arrow:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
}

.main .el-carousel__indicators {
    position: absolute;
    top: 0;
    width: 60%;
    height: 36px;
}

.main .el-carousel__indicator {
    width: 33.333%;
    padding: 0;
}

.main .el-carousel__indicator .el-carousel__button {
    width: 80%;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    /* background: rgba(255,255,255,0.50); */
}

.main .el-carousel__indicator.is-active .el-carousel__button {
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    transition: all ease-out;
}

.main .el-carousel {
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    height: 100%;
}

.main .el-tabs__nav {
    float: none;
}

.main .resize-triggers,
.main.resize-triggers>div,
.main.contract-trigger:before,
.main .el-carousel__item {
    display: none;
}

.main .el-carousel__container {
    top: 0 !important;
    height: 100% !important;
}

.main .el-carousel {
    overflow-x: visible;
}


/*main.vue end*/


/*login & apply start*/
.login, .apply, .forget {
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(50deg, #768296 38%, #99A3B9 93%);
    background-image: -moz-linear-gradient(50deg, #768296 38%, #99A3B9 93%);
    background-image: -o-linear-gradient(50deg, #768296 38%, #99A3B9 93%);
    background-image: linear-gradient(50deg, #768296 38%, #99A3B9 93%);
  }

.login .login-inner,
.apply .apply-inner,
.forget .forget-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px !important;
    padding-bottom: 50px;
    background: #fff;
    -webkit-box-shadow: 0 0 30px 0 rgba(70,70,93,0.50);
    -moz-box-shadow: 0 0 30px 0 rgba(70,70,93,0.50);
    box-shadow: 0 0 30px 0 rgba(70,70,93,0.50);
  }
  .login .logo, .apply .logo, .forget .logo {
    display: block;
    width: 41.33%;
    margin: 50px auto 20px;
  }
  .login .logo img, .apply .logo img , .forget .logo img{
    width: 100%;
    height: auto;
  }
  .login .login-main, .apply .apply-main , .forget .forget-main{
    width: 77.8%;
    margin: 0 auto;
  }

.login .logo,
.apply .logo,
.forget .logo {
    display: block;
    width: 41.33%;
    margin: 50px auto 20px;
}

.login .logo img,
.apply .logo img,
.forget .logo img {
    width: 100%;
    height: auto;
}

.login .login-now,
.apply .apply-now,
.forget .submit-now {
    display: block;
    width: 100%;
    height: 40px;
    margin: 30px auto 27px;
    line-height: 40px;
    text-align: center;
    background: #546AAC;
    font-family: NotoSansHans-Regular;
    color: #FFFFFF;
    letter-spacing: 6px;
}
.forget .submit-btn .submit-now {
    margin: 0 auto !important;
}
.login .login-now:hover, .apply .apply-now:hover , .forget .submit-now:hover{
    -webkit-opacity: 0.8; 
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: .8;
    filter:alpha(opacity=80);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

.login .el-input__inner,
.apply .el-input__inner,
.apply .el-textarea__inner,
.forget .el-input__inner {
    height: 46px !important;
    border: 0 none !important;
    border-bottom: 1px solid rgba(213, 213, 213, 0.40) !important;
    letter-spacing: 4px;
}
.forget .get-code .el-input__inner {
    border-bottom:none !important;
}
.forget-password .el-dialog__header{display: none;}
.apply .el-textarea__inner {
    resize: none !important;
}
.login .el-input, .apply .el-input, .apply .el-textarea, .forget .el-input{
    width: 100%;
    margin: 20px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.login .el-form-item__error, .apply .el-form-item__error, .forget .el-form-item__error {
    padding: 10px 10px 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#BDBDBD !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#BDBDBD !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#BDBDBD !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#BDBDBD !important;
}
.forget .get-code .el-input {
    margin: 0;
}
/*login & apply end*/
/* 输入框统一色值 */
.el-input__inner {
    color: #666 !important;
}
/*login & apply end*/

/* 输入框联想输入 */
.el-autocomplete-suggestion{margin:5px 0;box-shadow:0 0 6px 0 rgba(0,0,0,.04),0 2px 4px 0 rgba(0,0,0,.12)}
.el-autocomplete-suggestion li{list-style:none;line-height:36px;padding:0 10px;margin:0;cursor:pointer;color:#48576a;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.el-autocomplete-suggestion li:hover{background-color:#e4e8f1}
.el-autocomplete-suggestion li.highlighted{background-color:#20a0ff;color:#fff}
.el-autocomplete-suggestion li:active{background-color:#0082e6}
.el-autocomplete-suggestion li.divider{margin-top:6px;border-top:1px solid #d1dbe5}
.el-autocomplete-suggestion li.divider:last-child{margin-bottom:-6px}
.el-autocomplete-suggestion.is-loading li{text-align:center;height:100px;line-height:100px;font-size:20px;color:#999}
.el-autocomplete-suggestion.is-loading li:hover{background-color:#fff}
.el-autocomplete-suggestion.is-loading .el-icon-loading{vertical-align:middle}
.el-autocomplete-suggestion__wrap{max-height: 277px;overflow:auto;background-color:#fff;border:1px solid #d1dbe5;padding:6px 0;border-radius:2px;box-sizing:border-box;}
.el-autocomplete-suggestion__list{margin:0;padding:0}
